name: Test Runner

on: [push]

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Say Hello
        run: echo "Hello from self-hosted runner!"
